body{
    background-color: whitesmoke;
    font-family: Georgia;
    color:#595959;
}

#cookie{
    width: 80rem;
    border-radius: 0.5%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#ig {
    transition-duration: 1.5s;
    width: 46px;
    height: 46px;
    z-index: 12;
    padding: 5px;
}

#facebook {

    transition-duration: 1.5s;
    width: 42px;
    height: 42px;
    z-index: 12;
    padding: 5px;
}

#twitter {
    transition-duration: 1.5s;
    width: 54px;
    height: 46px;
    padding: 5px;
}
  
.social-media {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 300px;
    height:300px;
    transition-duration: 1s;
    padding-bottom: 5px;
}

#twitter:hover,
#facebook:hover,
#git:hover,
#ig:hover {
    border-bottom: 2.5px solid orange;
    border-radius: 5%;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition-duration: 0.65s;
}  

section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:2rem;
}

.about-section{
    display: flex;
    flex-direction: column;
    margin:1rem 10rem;
}

h2{
    padding:1rem;
    color:black;
}

nav{
    display: flex;
    justify-content:space-evenly;
    background-color: #005580;
}

section img{
    margin: 5rem;
}

.main-section{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items:center;
}

section div{
    margin:2rem;
    background-color: #778899;
    border-radius: 1%;
    border: 1px solid lightslategrey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

ul li:last-child{
    font-weight: bold;
}

div h2{
    margin: 1rem;
    font-weight: bold;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:white;
}

#logo{
    width:10rem;
    margin:2rem;
}

h1{
    font-size: 4rem;
}

a:hover{
color:orange;
    
}

a{
    text-decoration: none;
    
    color:#99ff99;
}

.nav{
    margin: 0 2rem;
    font-size: 2rem;
}



#store-logo{
    width: 100px;
}

caption{
    font-size: 2rem;
    padding:1.5rem;
}

th, tr{
    font-weight: bold;
}

td{
    color:darkgrey;
}

tr, td, th{
    padding:1rem;
    text-align: center;
    border-radius: 1%;
    border:0.01px solid #696969;
}

table{
    margin:1rem;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow:
     0 10px 6px -6px #777;
}

td{
    color:#F0F8FF;
    background-color: #778899;
}

tr{
    background-color:#708090;
    color:#99ff99;
}

tfoot td{
    color: #ffcccc;
}

tr td:last-child{
    color:  #ffcc99;
}
th{
    background-color:#708090;
    color: #b3e0ff;

}

th:first-of-type{
    color:#005580;
}
th:last-of-type{
    color:#005580;
}

tfoot td:last-of-type{
    color:#ff6666;
    background-color: #005580;
}

th:last-of-type{
    color:#005580;
}

tfoot tr{
    color:#ff6666;
}

td:hover{
    color:orange;
    cursor:pointer;
}