body{
    background-color: #FFFFFF;
    font-family: Georgia;
    color:#595959;
}

#cookie{
    width: 80rem;
    border-radius: 0.5%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:2rem;
}

.about-section{
    display: flex;
    flex-direction: column;
    margin:1rem 10rem;
}

h2{
    padding:1rem;
    color:black;
}

nav{
    display: flex;
    justify-content:space-evenly;
    background-color: #005580;;
}

section img{
    margin: 5rem;
}

.main-section{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items:center;
}

section div{
    margin:2rem;
    background-color: #778899;
    border-radius: 1%;
    border: 1px solid lightslategrey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

ul li:last-child{
    font-weight: bold;
}

div h2{
    margin: 1rem;
    font-weight: bold;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo{
    width:10rem;
    margin:2rem;
}

h1{
    font-size: 4rem;
}

a:hover{
    color:#99ff99;
}

a{
    text-decoration: none;
    color:orange;
}

.nav{
    margin: 0 2rem;
    font-size: 2rem;
}



#store-logo{
    width: 100px;
}

caption{
    font-size: 2rem;
    padding:1.5rem;
}

th, tr{
    font-weight: bold;
}

td{
    color:darkgrey;
}

tr, td, th{
    padding:1rem;
    text-align: center;
    border-radius: 1%;
    border:0.01px solid #696969;
}

table{
    margin:1rem;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow:
     0 10px 6px -6px #777;
}

td{
    color:#F0F8FF;
    background-color: #778899;
}

tr{
    background-color:#708090;
    color:#99ff99;
}

tfoot td{
    color: #ffcccc;
}

tr td:last-child{
    color:  #ffcc99;
}
th{
    background-color:#708090;
    color: #b3e0ff;

}

th:first-of-type{
    color:#0040ff;
}
th:last-of-type{
    color:#0040ff;
}

tfoot td:last-of-type{
    color:#ff6666;
}

tfoot tr{
    color:#ff6666;
}

td:hover{
    color:orange;
    cursor:pointer;
}